<ng-container class="container" *ngIf="auth.isLoading$ | async; else loaded">
  <anon-loading></anon-loading>
</ng-container>

<ng-template #loaded>
  <article class="">
    <section class="mt-1">

      <div class="section-content w-100">
        <div class="section-inner">
          <anon-editor
            [disable_editing]="false"
            [story]="story.content"
            (editorChange)="onChange($event)"
            [config]="editorConfig"></anon-editor>
        </div>
      </div>
    </section>
  </article>
</ng-template>
