<div class="container">

  <!-- Header Section -->
  <section class="container mb-3">
    <div class="row w-100 justify-content-start">
      <div class="col">
        <span class="row display-4">Admin Dashboard</span>
        <small class="row text-muted">Dashboard hub for stories, movies, and growing the functionality of your web application.</small>
      </div>
    </div>
  </section>

  <!--  Top Card  -->
  <section class="container">
    <div class="col p-0">
      <nb-card class="w-100">
        <nb-card-body>
          <anon-admin-films></anon-admin-films>
        </nb-card-body>
      </nb-card>
    </div>
  </section>

  <!--  Middle Cards  -->
  <section class="container">

    <div class="row p-4">
      <div class="col-md-7">
        <anon-admin-dashboard-stories class="" [stories]="all_stories" [is_stories_loaded]="is_stories_loaded"></anon-admin-dashboard-stories>

        <nb-accordion class="mt-4">
          <nb-accordion-item expanded>
            <nb-accordion-item-header>Something Here</nb-accordion-item-header>
            <nb-accordion-item-body class="">
              Something here
            </nb-accordion-item-body>
          </nb-accordion-item>
        </nb-accordion>

      </div>

      <div class="col-md-5">
        <anon-admin-dashboard-quick-links></anon-admin-dashboard-quick-links>
      </div>
    </div>
  </section>

</div>
