<div class="container">

  <!-- Header Section -->
  <section class="container mb-3">
    <div class="row w-100 justify-content-start">
      <div class="col">
        <span class="row display-4">Admin Dashboard</span>
        <small class="row text-muted">Dashboard hub for stories, movies, and growing the functionality of your web application.</small>
      </div>
    </div>
  </section>

  <!--  Top Card  -->
  <section class="container">
    <div class="col p-0">
      <nb-card class="w-100" size="tiny">
        <nb-card-body>
          <span class="display-4">Need an idea for this space</span>
        </nb-card-body>
      </nb-card>
    </div>
  </section>

  <!--  Middle Cards  -->
  <section class="container">
    <div class="row p-4">
      <div class="col-md-7">
        <nb-card size="tiny"><nb-card-body></nb-card-body></nb-card>
        <nb-card><nb-card-body></nb-card-body></nb-card>
      </div>

      <div class="col-md-5">
        <anon-admin-dashboard-quick-links></anon-admin-dashboard-quick-links>
      </div>
    </div>
  </section>

</div>
