<div class="container">
  <div class="d-flex flex-column w-100 border-0 justify-content-between py-3">
    <div *ngFor="let blog of blogs" class="d-flex justify-content-center mb-2">
      <div class="d-flex w-75">
          <a class="row align-items-center" routerLink="/blog/post/{{blog.id}}"> <img [src]="blog.image" class="d-flex mr-2 rounded float-left" style="max-width: 100px; max-height: 100px;" alt="..." /> </a>
          <nb-card class="card m-0 border-0">
              <nb-card-body>
                  <h6 class="card-title"> <a class="text-decoration-none text-reset stretched-link" routerLink="/blog/post/{{blog.id}}">{{ blog.title }}</a> </h6>
                  <p class="card-text m-0"> <small class="">{{ blog.author }}</small> </p>
                  <p class="card-text m-0"> <small class="text-muted">{{ blog.date }} | {{ blog.readtime }} min read</small> </p>
              </nb-card-body>
          </nb-card>
      </div>
    </div>
  </div>
</div>
