<div class="container" *ngIf="!storiesLoaded; else loaded">
  <anon-loading></anon-loading>
</div>

<ng-template #loaded>
  <ng-container *ngIf="publicStories.length > 0; else noStories">

    <div class="container-sm">
      <div class="d-flex flex-column w-100 border-0 justify-content-between py-3">
        <nb-list >
          <nb-list-item *ngFor="let story of publicStories" class="d-flex justify-content-center mb-2">
            <div class="d-flex row col-12">
              <a *ngIf="this.story.background_image == ''; else storyImage" class="row justify-content-center align-items-center col-2" routerLink="public/{{story.id}}">
                <img src="https://user-images.githubusercontent.com/18272237/70396289-73380100-19d5-11ea-9eb4-dd154aa6707c.JPG" class="rounded" style="width: 100%;" alt="..." /> </a>
              <ng-template #storyImage>
                <a class="row justify-content-center align-items-center col-2" routerLink="public/{{story.id}}">
                  <img [src]="story.background_image" class="rounded" style="width: 100%;" alt="..." /> </a>
              </ng-template>
              <nb-card class="card m-0 border-0 col-11 col-sm-10">
                <nb-card-body>
                  <h6 class="card-title"> <a class="text-decoration-none text-reset stretched-link" routerLink="public/{{story.id}}">{{ story.title }}</a> </h6>
                  <div class="story-subtitle" *ngIf="story.byline"><span class="text-secondary">{{story.byline}}</span></div>
                  <p class="card-text m-0"> <small class="">{{ story.author_name }}</small> </p>
                  <p class="card-text m-0 text-muted"> <small class="">{{ story.updated_on | dateAgo }} | {{ story.read_time }} min read</small>
                    <span class="float-right story-category"><small>Category:
                      <ng-container *ngIf="story.category; else noCategory">{{story.category}}</ng-container>
                      <ng-template #noCategory>Uncategorized</ng-template>
                    </small></span>
                  </p>
                </nb-card-body>
              </nb-card>
            </div>
          </nb-list-item>
        </nb-list>

      </div>
    </div>

  </ng-container>
  <ng-template #noStories>
    <div class="container justify-content-center pt-4">
      <div class="display-4 no-stories text-center"> No stories yet, check back soon... </div>
    </div>
  </ng-template>
</ng-template>
