<nb-layout>

  <nb-layout-header fixed>
    <anon-header class="w-100" *ngIf="!showStoryHeader()"> </anon-header>
    <anon-new-story-header class="w-100" *ngIf="showStoryHeader()"> </anon-new-story-header>
  </nb-layout-header>

  <nb-sidebar *ngIf="this._router.url.split('/')[1] === 'admin'" responsive>
    <div class="container" *ngIf="!is_frontend_admin; else loaded">
      <anon-loading></anon-loading>
    </div>
    <ng-template #loaded>
      <nb-menu [items]="SIDEBAR_MENU"></nb-menu>
    </ng-template>
  </nb-sidebar>

  <nb-layout-column>
    <router-outlet> </router-outlet>
  </nb-layout-column>


</nb-layout>
