<section class="top-section row">
  <div class="left-column col-xxxl-3">
    <anon-wallets-nav-card></anon-wallets-nav-card>
  </div>
  <div class="middle-column col-xxxl-9">
    <nb-card class="middle-column-card">
      <nb-card-body class="row">
        <div class="col-12 col-xxxl-7 wallets-column">
          <anon-crypto-wallet-card [crypto_wallet]="crypto_wallet"></anon-crypto-wallet-card>
        </div>
        <div class="col-12 col-xxxl-5 wallets-overview-column">
          <ng-container *ngIf="!wallet_tokens_loaded; else showOverview">
            <anon-loading class="container"></anon-loading>
          </ng-container>
          <ng-template #showOverview>
            <anon-fancy-card
              title="Net Worth"
              [message]="net_worth | currency"
              icon="equals"
              icon_pack="new-font-awesome"
              color="rgb(255, 57, 188)"
            ></anon-fancy-card>
            <anon-fancy-card
              title="Total Assets"
              [message]="total_assets | currency"
              icon="plus"
              icon_pack="new-font-awesome"
              color="rgb(186, 40, 255)"
              class="total-assets-card"
            ></anon-fancy-card>
            <anon-fancy-card
              title="Total Debts"
              [message]="total_debts | currency"
              icon="minus"
              icon_pack="new-font-awesome"
              color="rgb(254, 129, 95)"
              class="total-debts-card"
            ></anon-fancy-card>
          </ng-template>
        </div>
      </nb-card-body>
    </nb-card>

    <nb-card class="wallet-overview-card">
      <nb-card-body>
        <div class="row first-row">
          <div class="col-3 p-0 d-flex align-items-center font-weight-bold">
            <nb-icon icon="wallet" pack="new-font-awesome"></nb-icon>&nbsp; Wallet
          </div>
          <div class="col-3 p-0 d-flex align-items-center">
            <nb-checkbox
              class="d-flex align-items-center"
              disabled
              (checkedChange)="toggle_hide_small_balances($event)">Hide small Balances</nb-checkbox>
          </div>
          <div class="col-3 p-0 d-flex align-items-center"></div>
          <div class="col-3 p-0 d-flex justify-content-end align-items-center">Assets &nbsp;<span class="text-info font-weight-bold">{{total_assets | currency}}</span></div>
        </div>
        <div class="row sub-header-row">
          <div class="col-3 p-0 d-flex align-items-center">ASSETS</div>
          <div class="col-3 p-0 d-flex align-items-center">BALANCES</div>
          <div class="col-3 p-0 d-flex align-items-center">PRICE</div>
          <div class="col-3 p-0 d-flex justify-content-end align-items-center">VALUE</div>
        </div>
        <ng-container *ngIf="!wallet_tokens_loaded; else loaded">
          <anon-loading class="container"></anon-loading>
        </ng-container>
        <ng-template #loaded>
          <ng-container *ngIf="crypto_wallet_tokens.length > 0; else empty">
            <div class="row asset-row" *ngFor="let asset of crypto_wallet_tokens">
              <div class="col-3 p-0 d-flex align-items-center">
                <img class="d-flex asset-logo" [src]="asset.logo" />&nbsp;&nbsp;{{asset.symbol}}
              </div>
              <div class="col-3 p-0 d-flex align-items-center">{{asset.balance | number}}</div>
              <div class="col-3 p-0 d-flex align-items-center">{{asset.price | currency}}</div>
              <div class="col-3 p-0 d-flex justify-content-end align-items-center">{{asset.balance * asset.price | currency}}</div>
            </div>
          </ng-container>
          <ng-template #empty>
            <div class="container h4 text-center text-secondary my-1">
              There's no balances in your wallet.
            </div>
          </ng-template>
        </ng-template>
      </nb-card-body>
    </nb-card>
  </div>
</section>
