<div class="container-fluid p-0">
  <div class="blog-titles mx-auto">

    <div class="row mb-4">
      <nb-form-field class="w-100">
        <nb-icon nbPrefix icon="text-outline" pack="eva"></nb-icon>
        <input type="text" nbInput fullWidth shape="semi-round" fieldSize="giant" [(ngModel)]="post.title" #Titlectrl="ngModel" />
      </nb-form-field>
    </div>

    <div class="row mb-4">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Subtitle</span>
        </div>
        <input
          nbInput
          fullWidth
          type="text"
          fieldSize="medium"
          class="form-control"
          placeholder="Username"
          aria-label="Username"
          [(ngModel)]="post.subtitle"
          #Subtitlectrl="ngModel"
          aria-describedby="basic-addon1" />
      </div>
    </div>

  </div>

  <div class="blog-image row w-100 m-0"> <img class="img-fluid mx-auto" [src]="post.image" /> </div>

  <div class="blog-content mx-auto row mt-5">
    <textarea
      nbInput
      fullWidth
      rows="10"
      fieldSize="giant"
      [(ngModel)]="post.content"></textarea>
    <ckeditor [editor]="Editor" [(ngModel)]="post.content"></ckeditor>

    <span class=""> {{ post.content }} </span>
  </div>

</div>



