@import '../../../shared/styles/themes';

@include nb-install-component() {
  .main-container {
    width: 750px!important;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    display: flex;
  }
  .row {
    margin-bottom: 1.75rem!important;
  }
}
