<div class="container">
  <div class="d-flex flex-column w-100 border-0 justify-content-between py-3">
    <div *ngFor="let story of stories" class="d-flex justify-content-center mb-2">
      <div class="d-flex w-75">
        <a *ngIf="this.story.background_image == ''; else storyImage" class="row align-items-center" routerLink="/blog/post/{{story.id}}"> <img src="https://picsum.photos/3000/1500" class="d-flex mr-2 rounded float-left" style="max-width: 100px; max-height: 100px;" alt="..." /> </a>
        <ng-template #storyImage>
          <a class="row align-items-center" routerLink="/blog/post/{{story.id}}"> <img [src]="story.background_image" class="d-flex mr-2 rounded float-left" style="max-width: 100px; max-height: 100px;" alt="..." /> </a>
        </ng-template>
        <nb-card class="card m-0 border-0">
          <nb-card-body>
              <h6 class="card-title"> <a class="text-decoration-none text-reset stretched-link" routerLink="me/{{story.id}}">{{ story.title }}</a> </h6>
              <p class="card-text m-0"> <small class="">{{ story.author }}</small> </p>
              <p class="card-text m-0"> <small class="text-muted">{{ story.created_on | dateAgo }} | {{ story.read_time }} min read</small> </p>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
  </div>
</div>
