<div class="container">
  <div class="row">
    <a class="text-decoration-none" routerLink="/me/{{story.id}}">
      <h6 class="">{{ story.title }}</h6>
    </a>
  </div>
  <div class="row">
    <p class="font-weight-lighter m-0 text-hint">Last edited {{story.updated_on | dateAgo}}</p>

      <nb-icon class="btn p-0" [nbPopover]="dropdown" nbPopoverPlacement="bottom" icon="arrow-ios-downward-outline" [options]="{ fill: '#8f9bb3' }"></nb-icon>
      <ng-template #dropdown>
        <nb-card class="mb-0">
          <nb-list>
            <nb-list-item class="btn" (click)="editStory(this.story)"
            [ngClass]="color" (mouseover)="changeStyle($event)" (mouseout)="changeStyle($event)"
            > Edit Story </nb-list-item>
            <nb-list-item class="btn darkOnHover" *ngIf="statusNumber == 1" (click)="moveToDrafts(this.story)"> Move to Drafts </nb-list-item>
            <nb-list-item class="btn darkOnHover" *ngIf="(statusNumber < 8) && (statusNumber > 1)" (click)="trashStory(this.story)"> Trash Story </nb-list-item>

          </nb-list>
        </nb-card>
      </ng-template>

  </div>
</div>
