<main class="container">

<!-- Top Section -->
<section class="top-section">
  <div class="d-flex justify-content-between" id="">

    <div class="d-flex align-items-center">
      <span class="align-center title">Your Stories</span>
    </div>

    <div class="d-flex write-story-btn">
      <button
        class="bg-transparent"
        shape="round"
        [style]="'height:40px!important;border-color:rgba(26,137,23,1);color: rgba(26,137,23,1);'"
        size="small"
        status="success"
        routerLink="/new-story"
        nbButton
        outline>Write a Story</button>
    </div>

  </div>
</section>

<!-- Middle Section -->
<section class="middle-section row w-100">
  <nb-route-tabset class="w-100" [tabs]="tabs"></nb-route-tabset>
</section>


</main>
