<ng-container *ngIf="!is_stories_loaded; else stories_loaded">
  <anon-loading></anon-loading>
</ng-container>
<ng-template #stories_loaded>

  <nb-accordion>
    <nb-accordion-item expanded>
      <nb-accordion-item-header>Recently Updated Stories</nb-accordion-item-header>
      <nb-accordion-item-body class="">
        <nb-card class="border-0 m-0">
          <nb-card-body class="p-0">
            <nb-list>
              <nb-list-item *ngFor="let story of stories" class="row w-100 p-4">
                <anon-admin-story-list-item
                   class="w-100"
                  [story]="story"></anon-admin-story-list-item>
              </nb-list-item>
            </nb-list>
          </nb-card-body>
        </nb-card>
      </nb-accordion-item-body>
    </nb-accordion-item>
  </nb-accordion>

</ng-template>
