<!-- Useful Links -->
<div class="container">
    <div class="row justify-content-between">
        <a outline nbButton status="primary" href="https://anonsys.atlassian.net" target="_blank" rel="noopener"> Atlassian </a>
        <a outline nbButton status="danger" href="https://angular.io" target="_blank" rel="noopener"> Angular </a>
        <a hero nbButton status="success" routerLink="/blog" target="_self"> Blog </a>
        <a outline nbButton status="info" href="https://getbootstrap.com/docs/4.4/layout/overview/" target="_blank" rel="noopener"> Bootstrap </a>
        <a outline nbButton status="warning" href="https://akveo.github.io/nebular/docs/components/components-overview" target="_blank" rel="noopener"> Nebular </a>
    </div>
</div>

<!-- Huge Title -->
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="display-2 huge-header text-center"> Anonymous CyberSecurity </div>
    </div>
</div>

<!-- Tags Section -->
<div class="container my-5">

    <div class="d-flex flex-wrap overflow-hidden justify-content-center" style="max-height: 260px;">
        <div *ngFor="let tag of tags" class="d-inline-flex pr-3 m-1 p1 h5 text-muted" style="height: 42px; line-height: 38px; background-color: rgba(0, 0, 0, 0.05); border-radius: 99em;">
            <div class="d-flex align-self-center mx-1 p-1 rounded-circle bg-dark text-white" style="height: fit-content; box-shadow: 3px 3px 16px rgba(0, 0, 0, 0.2);"> <nb-icon icon="hash-outline"></nb-icon> </div>
            {{ tag }}
        </div>
    </div>

</div>

<anon-blog-list [blogs]="blogs"></anon-blog-list>
