<!-- Huge Title -->
<div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="huge-title text-center display-2"> Anonymous CyberSecurity </div>
      </div>
    </div>
</div>


<!-- Tags Section -->
<div class="container my-5 tag-section">

    <div class="justify-content-center tag-section-container">
        <div *ngFor="let tag of tags" class="d-inline-flex pr-3 m-1 text-muted tag-container">
            <div class="d-flex align-self-center mx-1 p-1 rounded-circle bg-dark text-white" style="height: fit-content; box-shadow: 3px 3px 16px rgba(0, 0, 0, 0.2);">
              <nb-icon icon="hash-outline"></nb-icon>
            </div>
          <span class="tag"> {{ tag }} </span>
        </div>
    </div>

</div>


<anon-public-stories-list class="w-100"></anon-public-stories-list>
