<div class="container-fluid row" id="">
    <div class="d-flex col justify-content-start align-items-center">
        <a class="text-decoration-none" routerLink="/"> <h5 class=""> Anonymous Systems </h5> </a>
    </div>
      <div class="d-flex col justify-content-center align-items-center lead"> </div>
      <div class="d-flex col justify-content-end m-3 align-items-center">
        <nb-search class="mr-3" type="rotate-layout"></nb-search>
        <nb-icon class="mr-3" icon="bookmark-outline" [options]="{ fill: '#8f9bb3' }" nbButton></nb-icon>
        <nb-icon class="mr-3" icon="bell-outline" nbPopover="No Notifications!" nbPopoverPlacement="bottom" [options]="{ fill: '#8f9bb3' }" nbButton></nb-icon>
        <button *ngIf="_router.url == '/'" class="p-2 mr-3" size="tiny" status="success" routerLink="/new-story" outline nbButton>Write</button>

        <anon-user-header></anon-user-header>

      </div>
  </div>
