<div class="container-fluid content-row mx-auto">
  <div class="row">

    <div class="container" *ngIf="!movies_loaded; else loaded">
      <anon-loading></anon-loading>
    </div>

    <ng-template #loaded>


      <!-- Header Section -->
      <section class="container-fluid mb-3 ml-4">
        <div class="row w-100">
          <div class="col-md-6">
            <span class="row display-4">Movies</span>
            <small class="row text-muted">Most recent movies inside an infinite list.</small>
          </div>
          <div class="col-md-6 align-self-center">
            <nb-alert class="m-0 align-items-center" accent="danger">Do NOT download any film before hiding your IP with a VPN!</nb-alert>
          </div>
        </div>
      </section>

      <!--   Film Section   -->
      <section class="container-fluid content-row mx-auto">

          <nb-list class="row flex-row" nbInfiniteList listenWindowScroll [threshold]="100" (bottomThreshold)="loadNext()">
            <nb-list-item *ngFor="let movie of movies_results" class="card mx-auto mb-3 bg-dark border-0 p-0" id="">

              <div class="card mx-auto bg-dark" id="card" style="">
                <a class="" target="_blank" href="https://www.imdb.com/title/{{ movie.imdb_id }}/" title="{{ movie?.title }}">
                  <img class="card-img-top rounded" id="mov_img" src="{{ movie.images | film_image }}" alt="{{ movie?.title }}">
                </a>
                <!--Magnet Download Button-->
                <a [href]="filmMovieLinkPipe.transform(movie.torrents)" id="download" class="down-link bottom-right-overlay badge badge-primary"><nb-icon class="down-icon" icon="cloud-download-outline" status="basic"></nb-icon></a>
                <a href="" id="download-icon" class="down-icon-link bottom-right-overlay badge badge-primary">Download</a>
              </div>

            </nb-list-item>
          </nb-list>

      </section>

    </ng-template>

  </div>
</div>
