@import '../../../../shared/styles/themes';

@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  nb-card {
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgb(44 51 73 / 10%);
  }
  .left-column {
    padding: 1rem;
  }
  .middle-column {
    padding: 1rem;
    .title-container {
      padding: 3rem;
    }
    .wallets-column {
      width: 100%;
    }
  }

  // Medium Media Breakpoint
  @include media-breakpoint-down(md) {
  }
}
