<section class="top-section row">
  <div class="left-column col-xxxl-3">
    <anon-wallets-nav-card></anon-wallets-nav-card>
  </div>
  <div class="middle-column col-xxxl-9">
    <div class="row title-container">
      <div class="col-10">
        <anon-admin-header-section
          page_title="My Wallets"
          page_subtitle=""></anon-admin-header-section>
      </div>
      <div class="col-2 d-flex align-items-center justify-content-end">
        <button
          nbButton
          status="primary"
          routerLink="/admin/crypto/create-wallet"
          class="rounded-pill align-items-baseline">
          <nb-icon
            icon="plus"
            pack="new-font-awesome"></nb-icon>
          &nbsp;Add

        </button>
      </div>
    </div>
    <nb-card class="middle-column-card">
      <nb-card-body class="row">
        <div class="wallets-column">
          <ng-container *ngIf="!wallets_loaded; else loaded">
            <anon-loading class="container"></anon-loading>
          </ng-container>
          <ng-template #loaded>
            <ng-container *ngIf="all_wallets.length < 1; else showWallets">
              <div class="container text-center"><span class="h3 text-secondary">You have no wallets saved yet.</span></div>
            </ng-container>
            <ng-template #showWallets>
              <anon-crypto-wallet-card *ngFor="let wallet of all_wallets" [crypto_wallet]="wallet"></anon-crypto-wallet-card>
            </ng-template>
          </ng-template>
        </div>
      </nb-card-body>
    </nb-card>

  </div>
</section>
