@import '../../../shared/styles/themes';

@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  .main-container {
    justify-content: center;
    align-items: center;
    min-height: 600px;
    display: flex;
  }
  .row {
    margin-bottom: 1.75rem!important;
  }

  // Small Media Breakpoint
  @include media-breakpoint-down(sm) {
    .main-container * {
      max-width: 313px;
    }
  }

}
