<div class="container-fluid row" id="">
    <div class="d-flex col justify-content-start align-items-center">
        <a class="text-decoration-none" routerLink="/"> <h5 class=""> Anonymous Systems </h5> </a>
    </div>
      <div class="d-flex col justify-content-center align-items-center lead"> </div>
      <div class="d-flex col justify-content-end m-3">
        <button class="p-2 mr-3" status="primary" nbButton> Subscribe </button>
        <button class="p-2 mr-3" status="warning" hero nbButton> Contact Us</button>
        <ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
          <nb-user *ngIf="auth.user$ | async as user" [name]="user.name" [title]="user.nickname" [picture]='user.picture' [nbContextMenu]="context_items"> </nb-user>
        </ng-container>
        <ng-template #loggedOut>
          <button class="p-2 mr-3" status="success" (click)="auth.loginWithRedirect()" hero nbButton>Log In</button>
        </ng-template>
      </div>
  </div>
