@import '../../../../shared/styles/themes';

@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  .empty {
    margin: 100px 0 0 0;
    text-align: center;
  }
  // Triple-Extra-Large Media Breakpoint
  @include media-breakpoint-up(xxxl) {
    .tags-group {
      display: grid!important;
    }
    button {
      border: none!important;
    }
  }

}
