<ng-container *ngIf="!tokens_loaded; else loaded">
  <anon-loading class="container"></anon-loading>
</ng-container>
<ng-template #loaded>
  <section>

    <ng-container *ngIf="tokens.length > 0 else empty">
      <div class="row flex-row">
        <anon-crypto-token-card
          class="mx-auto mb-3 align-self-center"
          *ngFor="let token of tokens"
          [token]="token"></anon-crypto-token-card>
      </div>
    </ng-container>
    <ng-template #empty>
      <div class="container empty">You have no cryptocurrency token cards.</div>
    </ng-template>

  </section>
</ng-template>
