<li class="field-container list-item d-flex align-items-center pb-35 pt-30">
  <div class="mr-10 d-flex w-100 align-items-center">
    <div class="d-block w-100">
      <div class="h6 fieldName">{{fieldName}}</div>
      <div class="w-100">
        <div class="fieldSection mt-10 flex-column">
          <ng-container *ngIf="field_type === 'select'; else notSelectField">
            <nb-select
              #fieldInput
              [(ngModel)]="bsctoken[ngModel_key]"
              [required]="is_required"
              class="pb-8 mb-24 listItemInput borderBottomLightest bg-transparent"
            >
              <nb-option *ngFor="let option of select_options" [value]="option.value">{{option.name}}</nb-option>
            </nb-select>
          </ng-container>
          <ng-template #notSelectField>
            <ng-container *ngIf="!is_bsctoken_socials; else bsctoken_social">
              <ng-container *ngIf="ngModel_key != 'tags';else isTags">
                <ng-container *ngIf="ngModel_key != 'launch_date'; else is_launchdate">
                  <ng-container *ngIf="ngModel_key != 'description'; else is_description">
                    <input
                      #fieldInput
                      class="pb-8 mb-24 listItemInput borderBottomLightest bg-transparent"
                      [type]="field_type"
                      [required]="is_required"
                      [(ngModel)]="bsctoken[ngModel_key]"
                    />
                  </ng-container>
                  <ng-template #is_description>
                    <textarea
                #fieldInput
                class="pb-8 mb-24 listItemInput borderBottomLightest bg-transparent"
                [required]="is_required"
                [(ngModel)]="bsctoken[ngModel_key]"></textarea>
                  </ng-template>
                </ng-container>
                <ng-template #is_launchdate>
                  <input
                    nbInput
                    #fieldInput
                    placeholder="Select Date & Time"
                    [nbDatepicker]="dateTimePicker"
                    [(ngModel)]="bsctoken[ngModel_key]"
                    class="pb-8 mb-24 listItemInput borderBottomLightest bg-transparent">
                  <nb-date-timepicker
                    #dateTimePicker
                    singleColumn [step]="10"></nb-date-timepicker>
                </ng-template>
              </ng-container>
              <ng-template #isTags>
                <nb-tag-list (tagRemove)="onTagRemove($event)" class="pb-8 mb-24 listItemInput borderBottomLightest bg-transparent">
                  <nb-tag *ngFor="let tag of token_tags" [text]="tag.name" removable></nb-tag>
                  <input
                    #fieldInput
                    nbTagInput
                    type="text"
                    (focus)="false"
                    (tagAdd)="onTagAdd($event.value)"
                    [nbAutocomplete]="tagAutocomplete"
                    [required]="is_required"
                    fullWidth
                  />
                </nb-tag-list>
                <nb-autocomplete #tagAutocomplete (selectedChange)="onTagAdd($event)">
                  <nb-option *ngFor="let tagOption of allTags" [value]="tagOption.name">{{tagOption.name}}</nb-option>
                </nb-autocomplete>
              </ng-template>
            </ng-container>
            <ng-template #bsctoken_social>
              <input
                #fieldInput
                class="pb-8 mb-24 listItemInput borderBottomLightest bg-transparent"
                [type]="field_type"
                [required]="is_required"
                [(ngModel)]="bsctoken.socials[ngModel_key]"
              />
            </ng-template>
          </ng-template>
          <small class="fieldDescription text-muted">{{fieldDescription}}</small>
        </div>
      </div>
    </div>
  </div>
</li>
