<div class="container-fluid content-row mx-auto">
  <div class="row">

    <!-- Header Section -->
    <anon-admin-header-section
      class="container-fluid mb-3 ml-4"
      page_title="Binance Smart Chain Tokens"
      page_subtitle="Track existing and upcoming Binance Smart Chain Tokens while also tracking swap transactions.">
    </anon-admin-header-section>

    <!--   BSCTokens Section   -->
    <anon-admin-crypto-token-cards type_of_tokens='bsc' class="container-fluid content-row mx-auto"></anon-admin-crypto-token-cards>

    <div class="add-token-btn">
      <button
      nbButton
      class="rounded-circle"
      status="success"
      size="medium"
      nbTooltip="Add BSC Token Card"
      (click)="openCreateBSCTokenWindow()">
        <nb-icon icon="plus-outline"></nb-icon>
      </button>
    </div>

  </div>
</div>
