@import '../../../../shared/styles/themes';

@include nb-install-component() {
  .card {
    max-width: 420px!important;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgb(44 51 73 / 10%);
    .card-body {
      .card-body-top {
        margin-bottom: 1rem;
        .token-name {
          font-weight: bold;
          font-size: 1.25rem;
          display: flex;
        }
        .token-socials {
          display: flex;
          .token-social-item {
            background-color: #edf1f7;
            border-color: #edf1f7;
            font-size: 13px;
            margin: 0 3px;
            width: 28px;
            height: 28px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
        .token-swaps {
          font-size: 0.85rem;
        }
        .token-charts {
          display: flex;
          .token-chart-item {
            //background-color: #edf1f7;
            //border-color: #edf1f7;
            font-size: 13px;
            margin: 0 3px;
            width: 28px;
            height: 28px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
      .card-body-middle {
        margin-bottom: 1rem;
        padding: 1rem;
        .token-description {
          font-size: 0.8rem;
          font-weight: 300;
        }
      }
      .card-body-bottom {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
  .add-token-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    margin-bottom: 0px;
    cursor: pointer;
  }
}
