<div
  class="card mx-auto mb-3 align-self-center">
  <div class="card-body">
    <!-- Card Top Section -->
    <div class="row card-body-top">
      <!-- Card Top-Left Section -->
      <div class="col-9">
        <ng-container *ngIf="token.contract_address; else no_contract_address">
          <div class="d-flex">

              <div class="token-name mb-2">
                <a class="text-decoration-none text-reset" [routerLink]="'/admin/crypto/token/'+token.id">{{token.name}}</a>
              </div>
            <a class="text-decoration-none text-reset" [href]="'https://bscscan.com/token/'+token.contract_address" target="_blank">
            &nbsp;<nb-icon status="basic" icon="external-link-outline"></nb-icon>
            </a>
            <a class="text-decoration-none text-reset"
               style="cursor: pointer"
               (click)="copy_to_clipboard(token.contract_address)"
               nbTooltip="Copy Contract Address"
            >
              &nbsp;<nb-icon status="basic" icon="clipboard-outline"></nb-icon>
            </a>
          </div>
        </ng-container>
        <ng-template #no_contract_address>
          <div class="token-name mb-2">
            <a class="text-decoration-none text-reset" [routerLink]="'/admin/crypto/token/'+token.id">{{token.name}}</a>
          </div>
        </ng-template>

        <div class="token-socials mb-2">
          <a
            *ngFor="let social of token | bsctoken_socials"
            class="token-social-item text-decoration-none text-reset"
            [href]="social.link"
            [nbTooltip]="social.name | uppercase"
            target="_blank">
            <nb-icon [icon]="social.icon" [pack]="social.icon_pack"></nb-icon>
          </a>
        </div>
        <div class="d-flex"><nb-tag text="$ {{token.symbol}}" size="tiny" status="basic"></nb-tag> </div>
      </div>
      <!-- Card Top-Right Section -->
      <div class="col-3 text-center">
        <div class="token-swaps text-hint">{{token?.swaps?.length}} Swaps</div>
        <ng-container *ngIf="token.contract_address">
          <div class="token-charts">
            <a href="https://dex.guru/token/{{token.contract_address}}"
               target="_blank"
               class="token-chart-item text-decoration-none text-reset">
              <nb-icon icon="dex-guru" pack="custom-icons" nbTooltip="dex.guru"></nb-icon>
            </a>
            <a href="https://poocoin.app/tokens/{{token.contract_address}}"
               target="_blank"
               class="token-chart-item text-decoration-none text-reset">
              <nb-icon icon="poocoin" pack="custom-icons" nbTooltip="poocoin.app"></nb-icon>
            </a>
          </div>
          <div class="trade-icons">
            <a href="https://exchange.pancakeswap.finance/#/swap?inputCurrency={{token.contract_address}}"
               target="_blank"
               class="trade-icon-item text-decoration-none text-reset">
              <nb-icon icon="pancakeswap" pack="custom-icons" nbTooltip="pancakeswap"></nb-icon>
            </a>
          </div>
        </ng-container>
      </div>
    </div>

    <!-- Card Middle Section -->
    <div class="row card-body-middle">
      <div class="token-description" *ngIf="token.description">
        {{token.description}}
      </div>
      <div class="token-tags">
        <ng-container *ngIf="token.tags">
          <div class="" *ngIf="token.tags.length > 0">
            <nb-tag-list class="d-flex justify-content-center">
              <nb-tag
                class=""
                *ngFor="let tag of token.tags"
                [text]="tag.name"
                appearance="outline"
                status="basic"
                size="tiny"></nb-tag>
            </nb-tag-list>
          </div>
        </ng-container>
      </div>
    </div>

    <!-- Card Bottom Section -->
    <div class="row card-body-bottom">
      <div class="countdown-container">
        <anon-countdown-timer
          *ngIf="token.launch_date"
          [countdown_to_timestamp]="token.launch_date"
          countdown_end_message="Token launched!"
        ></anon-countdown-timer>
      </div>
      <div class="icons-container row w-100 justify-content-between">
        <!--   Left section   -->
        <div class="col-4 d-flex justify-content-start p-0">
          <ng-container
            *ngIf="token.status != 'TRASH'"
            class="trash-icon-container">
            <a class="text-decoration-none text-reset trash-btn" [nbPopover]="trash_templateRef">
              <nb-icon icon="trash-2-outline" status="basic"></nb-icon>
            </a>
            <ng-template #trash_templateRef>
              <div class="text-center">
                <div class="m-2">
                  <div>Trash {{token.name}}?</div>
                </div>
                <div class="m-2">
                  <button nbButton status="success" (click)="trash_token(token.id)">Yes</button>
                </div>
              </div>
            </ng-template>
          </ng-container>
          <ng-container
            *ngIf="token.status != 'ARCHIVE'"
            class="archive-icon-container">
            <a class="text-decoration-none text-reset archive-btn" [nbPopover]="archive_templateRef">
              <nb-icon icon="archive-outline" status="basic"></nb-icon>
            </a>
            <ng-template #archive_templateRef>
              <div class="text-center">
                <div class="m-2">
                  <div>Archive {{token.name}}?</div>
                </div>
                <div class="m-2">
                  <button nbButton status="success" (click)="archive_token(token)">Yes</button>
                </div>
              </div>
            </ng-template>
          </ng-container>
        </div>
        <!--   Middle section   -->
        <div class="col-4 d-flex justify-content-center p-0 token-price text-info">
          {{token_price | cryptoTokenPrice | currency}}
        </div>
        <!--   Right section   -->
        <div class="col-4 d-flex justify-content-end p-0">
          <a class="text-decoration-none text-reset" [routerLink]="'/admin/crypto/token/'+token.id+'/edit'">
            <nb-icon icon="edit-outline" status="basic"></nb-icon>
          </a>
        </div>

      </div>
    </div>

  </div>

</div>
