<div
  class="card mx-auto mb-3 align-self-center">
  <div class="card-body">
    <!-- Card Top Section -->
    <div class="row card-body-top">
      <!-- Card Top-Left Section -->
      <div class="col-9">
        <ng-container *ngIf="token.contract_address; else no_contract_address">
          <div class="d-flex">
            <a class="text-decoration-none text-reset" [href]="'https://bscscan.com/token/'+token.contract_address" target="_blank">
              <div class="token-name mb-2">{{token.name}}
                &nbsp;<nb-icon status="basic" icon="external-link-outline"></nb-icon>
              </div>
            </a>
            <a class="text-decoration-none text-reset"
               style="cursor: pointer"
               (click)="copy_to_clipboard(token.contract_address)"
               nbTooltip="Copy Contract Address"
            >
              &nbsp;<nb-icon status="basic" icon="clipboard-outline"></nb-icon>
            </a>
          </div>
        </ng-container>
        <ng-template #no_contract_address>
          <div class="token-name mb-2">{{token.name}}</div>
        </ng-template>

        <div class="token-socials mb-2">
          <a
            *ngFor="let social of token | bsctoken_socials"
            class="token-social-item text-decoration-none text-reset"
            [href]="social.link"
            [nbTooltip]="social.name | uppercase"
            target="_blank">
            <nb-icon [icon]="social.icon" [pack]="social.icon_pack"></nb-icon>
          </a>
        </div>
        <div class="d-flex"><nb-tag text="$ {{token.symbol}}" size="tiny" status="basic"></nb-tag> </div>
      </div>
      <!-- Card Top-Right Section -->
      <div class="col-3 text-center">
        <div class="token-swaps text-hint">{{token?.swaps?.length}} Swaps</div>
        <div class="token-charts" *ngIf="token.contract_address">
          <a href="https://dex.guru/token/{{token.contract_address}}-bsc"
             target="_blank"
             class="token-chart-item text-decoration-none text-reset">
            <nb-icon icon="dex-guru" pack="custom-icons" nbTooltip="dex.guru"></nb-icon>
          </a>
          <a href="https://poocoin.app/tokens/{{token.contract_address}}"
             target="_blank"
             class="token-chart-item text-decoration-none text-reset">
            <nb-icon icon="poocoin" pack="custom-icons" nbTooltip="poocoin.app"></nb-icon>
          </a>
        </div>
      </div>
    </div>

    <!-- Card Middle Section -->
    <div class="row card-body-middle">
      <div class="token-description">
        {{token.description}}
      </div>
    </div>

    <!-- Card Bottom Section -->
    <div class="row card-body-bottom">
      <anon-countdown-timer
        *ngIf="token.launch_date"
        [countdown_to_timestamp]="token.launch_date"
        countdown_end_message="Token launched!"
      ></anon-countdown-timer>
    </div>
  </div>
</div>
