<nb-card class="">

  <nb-card-header class="d-flex">
    <h3 class="d-flex mr-auto align-items-center font-weight-lighter">
      <span *ngIf="status_name != ''">{{status_name}}&nbsp;</span>Stories
    </h3>
    <div class="d-flex"><button class="" status="info" routerLink="/new-story" outline nbButton>Add new story</button></div>
  </nb-card-header>

  <nb-list class="">

<!--  Individual Story  -->
    <nb-list-item class="" *ngFor="let story of stories">
      <anon-admin-story-list-item
        class="d-flex w-100"
        [story]="story"></anon-admin-story-list-item>
    </nb-list-item>

  </nb-list>

</nb-card>
