<div class="container">

  <!-- Header Section -->
  <section class="container mb-3">
    <div class="row w-100 justify-content-start">
      <div class="col">
        <span class="row display-4">Films</span>
        <small class="row text-muted">Anime shows, TV shows, and movies from the backend database.</small>
      </div>
    </div>
  </section>

  <ng-container class="container" *ngIf="!films_loaded; else loaded">
    <ng-template [ngIf]="database_updating">
      <div class="text-hint text-center">Updating Database, this may take a few minutes!</div>
    </ng-template>

    <anon-loading class="films-loading"></anon-loading>
  </ng-container>

  <ng-template #loaded>

    <!-- Middle Section -->
    <section class="container my-3">
      <div class="row">
        <div class="col-md-4">{{animes_count}} Anime Shows</div>
        <div class="col-md-4">{{shows_count}} TV Shows</div>
        <div class="col-md-4">{{movies_count}} Movies</div>
      </div>
    </section>

    <!-- Bottom Section -->
    <section class="container my-3">
      <div class="row justify-content-between">
        <ng-container *ngIf="database_last_updated === null; else notNull">
          <div class="col-md-6 align-self-center">Film Database last updated: <nb-tag appearance="outline" status="danger" text="Not Updated Yet" size="tiny"></nb-tag></div>
        </ng-container>
        <ng-template #notNull>
          <div class="col-md-6 align-self-center">Film Database last updated: <nb-tag appearance="outline" status="warning" [text]="database_last_updated" size="tiny"></nb-tag></div>
        </ng-template>
        <button (click)="update_database()" class="col-md-6" style="height: 25px!important;" nbButton status="warning" outline>Update Database</button>
      </div>
    </section>

  </ng-template>

</div>
