@import '../../../../themes.scss';

@include nb-install-component() {
  .section-inner {
    max-width: 740px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto !important;
    float: none !important;
  }
}
