<div class="container" *ngIf="auth.isLoading$ | async; else loaded">
  <anon-loading></anon-loading>
</div>

<ng-template #loaded>
  <article class="">
    <section class="mt-1">

      <div class="section-content w-100">
        <div class="section-inner">
          <div class="container" *ngIf="!storyLoaded; else loaded2">
            <anon-loading></anon-loading>
          </div>

          <ng-template #loaded2>
            <ckeditor
              #_editor
              [editor]="Editor"
              [config]="editorConfig"
              (change)="onChange($event)"
              [(ngModel)]="this.story.content"
              (ready)="putEditorInFocus(_editor)"
            ></ckeditor>
          </ng-template>
        </div>
      </div>
    </section>
  </article>
</ng-template>
