<ng-container class="container" *ngIf="auth.isLoading$ | async; else loaded">
  <anon-loading></anon-loading>
</ng-container>

<ng-template #loaded>
  <article class="">
    <section class="mt-1">

      <div class="section-content w-100">
        <div class="section-inner">
          <ng-container class="container" *ngIf="!storyLoaded; else loaded2">
            <anon-loading></anon-loading>
          </ng-container>

          <ng-template #loaded2>
            <anon-editor
              [config]="editorConfig"
              (editorChange)="onChange($event)"
              (readyChange)="putEditorInFocus($event)"
              [story]="this.story.content"
              [disable_editing]="false"></anon-editor>
          </ng-template>
        </div>
      </div>
    </section>
  </article>
</ng-template>
