<div class="container-fluid content-row mx-auto">
  <div class="row">

    <div class="container" *ngIf="!shows_loaded; else loaded">
      <anon-loading></anon-loading>
    </div>

    <ng-template #loaded>

      <!-- Header Section -->
      <anon-admin-header-section
        class="container-fluid mb-3 ml-4"
        page_title="TV Shows"
        page_subtitle="Most recent TV shows inside an infinite list."
        [show_alert]="true"
        alert_accent="danger"
        alert_message="Do NOT download any film before hiding your IP with a VPN!"
      ></anon-admin-header-section>

      <!--   Film Section   -->
      <section class="container-fluid content-row mx-auto">
        <ng-container *ngIf="shows_results.length > 0;else noShows">
          <div class="row">
            <div *ngFor="let show of shows_results" class="card mx-auto mb-3 bg-dark" id="card" style="">

              <a class="" target="_blank" href="https://www.imdb.com/title/{{ show.imdb_id }}/" title="{{ show?.title }}">
                <img class="card-img-top rounded" id="mov_img" src="{{ show.images | film_image }}" alt="{{ show?.title }}">
              </a>

              <!--Magnet Download Button-->
              <a href="" id="download" class="down-link bottom-right-overlay badge badge-primary"><nb-icon class="down-icon" icon="cloud-download-outline" status="basic"></nb-icon></a>
              <a href="" id="download-icon" class="down-icon-link bottom-right-overlay badge badge-primary">Download</a>

            </div>
          </div>
        </ng-container>
        <ng-template #noShows>
          <div class="display-4 text-center mt-4">No TV shows yet.</div>
        </ng-template>
      </section>

    </ng-template>

  </div>
</div>
