<div class="container" *ngIf="!storiesLoaded; else loaded">
  <anon-loading></anon-loading>
</div>

<ng-template #loaded>
  <ng-container *ngIf="publicStories.length > 0 else empty">
    <nb-list>
      <nb-list-item *ngFor="let story of publicStories">
        <a class="text-decoration-none" routerLink="../../{{story.id}}/edit"> <h1 class="">{{ story.title }}</h1> </a>
      </nb-list-item>
    </nb-list>
  </ng-container>
  <ng-template #empty>
    <div class="container empty">
      You haven’t published any public stories yet.
    </div>
  </ng-template>
</ng-template>
